{#

This file is part of the Lug package.

(c) Eric GELOEN <geloen.eric@gmail.com>

For the full copyright and license information, please read the LICENSE
file that was distributed with this source code.

#}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />

        <title>{% block title %}Lug{% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('assets/css/app.css') }}" />
        {% endblock %}
    </head>
    <body class="{% block skin %}skin-blue{% endblock %} hold-transition sidebar-mini">
        <div class="wrapper">
            {% block wrapper %}
                <header class="main-header">
                    {% block logo %}
                        <a href="{% block logo_href %}#{% endblock %}" class="logo">
                            <span class="logo-mini"><b>Lug</b></span>
                            <span class="logo-lg"><b>Lug</b></span>
                        </a>
                    {% endblock %}

                    <nav class="navbar navbar-static-top" role="navigation">
                        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                            <span class="sr-only">Toggle navigation</span>
                        </a>
                        <div class="navbar-left">
                            {% block breadcrumb %}{% endblock %}
                        </div>
                        <div class="navbar-right">
                            {% block toolbar %}{% endblock %}
                        </div>
                    </nav>
                </header>
                <aside class="main-sidebar">
                    <section class="sidebar">
                        {% block sidebar %}{% endblock %}
                    </section>
                </aside>
                <div class="content-wrapper">
                    <section class="content-header">
                        {% block flashes %}
                            {{ include('@LugUi/Flash/flashes.html.twig') }}
                        {% endblock %}
                        {% block header %}{% endblock %}
                    </section>
                    <section class="content">
                        {% block content %}{% endblock %}
                    </section>
                </div>
                <footer class="main-footer">
                    {% block footer %}
                        Created with love by <a href="http://egeloen.fr" target="_blank">GeLo</a>
                        on top of <a href="https://almsaeedstudio.com/preview" target="_blank">AdminLTE</a>.
                        Sponsored by <a href="http://www.widop.com">Wid'op</a>.
                    {% endblock %}
                </footer>
            {% endblock %}
        </div>

        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('assets/js/app.js') }}"></script>
        {% endblock %}
    </body>
</html>
