# This file is part of the Lug package.
#
# (c) Eric GELOEN <geloen.eric@gmail.com>
#
# For the full copyright and license information, please read the LICENSE
# file that was distributed with this source code.

monolog:
    handlers:
        main:
            action_level: error
            handler: nested
            type: fingers_crossed
        nested:
            level: debug
            path: %kernel.logs_dir%/%kernel.environment%.log
            type: stream
        console:
            type: console
