<?xml version="1.0" encoding="UTF-8" ?>

<!--

This file is part of the Lug package.

(c) Eric GELOEN <geloen.eric@gmail.com>

For the full copyright and license information, please read the LICENSE
file that was distributed with this source code.

-->

<container xmlns="http://symfony.com/schema/dic/services">
    <services>
        <service
            id="lug.ui.menu.builder"
            class="Lug\Bundle\UiBundle\Menu\AbstractMenuBuilder"
            abstract="true"
        >
            <argument type="service" id="knp_menu.factory" />
            <argument type="service" id="event_dispatcher" />
        </service>
    </services>
</container>
