{#

This file is part of the Lug package.

(c) Eric GELOEN <geloen.eric@gmail.com>

For the full copyright and license information, please read the LICENSE
file that was distributed with this source code.

#}

{% extends '@LugAdmin/layout.html.twig' %}

{% block header %}
    <h1>{{ ('lug.' ~ resource.name ~ '.create.title') | trans([], 'admins') }}</h1>
{% endblock %}

{% block content %}
    {{ include('@LugAdmin/Resource/form.html.twig') }}
{% endblock %}
